
<footer class="footer-1 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img alt="Logo" class="logo" src="{{ site.title-img }}">
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Recent Posts</h6>
          <hr>
          <ul class="link-list recent-posts">
            <li>
              <a href="https://research.muellners.org/financial-inclusion-in-africa/">The Future of Financial Services and Inclusion in Africa</a>
              <span class="date">July
                <span class="number">18, 2021</span>
              </span>
            </li>
            <li>
              <a href="https://research.muellners.org/rise-of-decentralized-social-networks/">The Rise of Decentralized Social Networks</a>
              <span class="date">July
                <span class="number">13, 2021</span>
              </span>
            </li>
            <li>
              <a href="https://research.muellners.org/indepth-overview-of-blockchain/">A research based overview of Blockchain and it's application in cryptocurrency</a>
              <span class="date">July
                <span class="number">01, 2021</span>
              </span>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Latest Updates</h6>
          <hr>
          <div class="twitter-feed">
            <div class="tweets-feed" data-feed-name="muellnersorg" id="tweets-1">
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Instagram</h6>
          <hr>
          <div class="instafeed" data-user-name="muellnersllc">
            <ul></ul>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <span class="sub"> ©Copyright {{ site.time | date: '%Y' }}   - Muellners® Foundation, Copenhagen, Denmark CVR:41008407</span>
      </div>
      {% include social-networks-links.html %}
    </div>
  </div>

  <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
</footer>
