---
layout: page
---
<section class="page-title page-title-2 image-bg overlay parallax">
		        <div class="background-image-holder">
		            <img alt="Background Image" class="background-image" src="img/cover15.jpg">
		        </div>
		        <div class="container">
		            <div class="row">
		                <div class="col-md-6">
		                    <h2 class="uppercase mb8">About Muellners</h2>
		                    <p class="lead mb0">
				   	A global technology capital firm with a Non-Profit arm which focuses on social, financial and digital inclusion.
				    </p>
		                </div>

		            </div>
		        </div>
		    </section>

        <section class="bg-secondary">
        		        <div class="container">
        		            <div class="row">
        		                <div class="col-sm-12">
        		                    <div class="feature feature-1 boxed">
        		                        <div class="text-center">
        		                            <i class="ti-pulse icon"></i>
        		                            <h4>
							Social Inclusion
						    </h4>
        		                        </div>
        		                        <p>
							Muellners Foundation strives to achieve equality driven goals and fundamental essence of human life.
							We aim to reduce discrimination on any grounds to create a peaceful humanity, embracing all sections of society. We promote sustainable social entrepreneurs and enterprises.
        		                        </p>
        		                    </div>

        		                </div>
        		                <div class="col-sm-12">
        		                    <div class="feature feature-1 boxed">
        		                        <div class="text-center">
        		                            <i class="ti-dashboard icon"></i>
        		                            <h4>Financial Inclusion <br class="hidden-sm">
        		                            </h4>
        		                        </div>
        		                        <p>
							Sustainable development of the world, with financial inclusion to eliminate poverty.
							
							An initiative driven by innovation. Our parent company supports a global 'Not for Profit' initiative to deliver sustainable financial technology.
        		                        </p>
        		                    </div>

        		                </div>
        		                <div class="col-sm-12">
        		                    <div class="feature feature-1 boxed">
        		                        <div class="text-center">
        		                            <i class="ti-layers icon"></i>
        		                            <h4>Green Initiative
        		                                <br class="hidden-sm"></h4>
        		                        </div>
        		                        <p>
							Reverse the adverse ecological footprint of humans with carbon neutral initiatives.

							Let us together reverse the adversity of humanity. 'Muellners' creates green practices in delivering its services. This foundation also strives for reducing carbon footprint and engage in carbon credit economy. 
        		                        </p>
        		                    </div>

        		                </div>
        		                <div class="col-sm-12">
        		                    <div class="feature feature-1 boxed">
        		                        <div class="text-center">
        		                            <i class="ti-package icon"></i>
        		                            <h4>Experience thoughts and philosophies with Muellners 'Not for Profit' Foundation</h4>
        		                        </div>
        		                        <h6>
							Global Community
						</h6>
						<p>
							Muellners Foundation is a global community of progressive thoughts & innovation led by unparallel thrust to better human life in middle and low income economies.
        		                        </p>
						<h6>												
							Innovation Driven
						</h6>
						<p>
							Muellners Foundation is built keeping sustainable development and green practices in mind. The foundation works towards rural development, social security, women empowerment and human rights.
						</p>
        		                    </div>

        		                </div>
        		            </div>

        		        </div>

        		    </section>

                <section class="page-title page-title-1 image-bg overlay parallax">
		        <div class="background-image-holder">
		            <img alt="Background Image" class="background-image" src="img/cover14.jpg">
		        </div>
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-12 text-center">
		                    <h2 class="uppercase mb0">join us</h2>
		                </div>
		            </div>

		        </div>


		    </section>
