---
layout: page
---

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <div class="feature bordered">
                    <h1 class="large uppercase mb64 mb-xs-24">New order</h1>
                    <p class="mb80 mb-xs-24">
                        The emerging new world order is here, the tipping point where we are entering a phase of technology,
                        that should have human systems, chaos and order, these technology should be based and developed on these fundamentals
                        The fundamental are clear, Carbon neutral, privacy preserving , promotes health and able to provide financial soverigneity.
                    </p>
                    <a class="btn btn-lg btn-filled inner-link" href="#muellners-manifesto">Muellners manifesto</a>
                </div>
            </div>
            <div class="col-sm-5">
                <img class="mt80 mt-xs-0 mb24" alt="Pic" src="../assets/img/social1.jpg">
                <img class="col-md-pull-4 relative" alt="Pic" src="assets/img/social4.jpg">
            </div>
        </div>
    </div>
</section>

<section class="bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-1 text-right text-left-xs col-sm-5">
				<h1 class="uppercase mb24 bold italic">Collect<br>For Life</h1>
				<h5 class="uppercase italic fade-1-4">“Leave no trace<br> burn yourself”</h5>
				<hr class="visible-xs">
			</div>
			<div class="col-md-5 col-sm-7">
				<p>
					Our message is quite clear to all of us, we no longer want to face oursevles and the world that we have created.
				</p>

				<p>
					Pledging a world that knows ideas of nothingness , Yeah its possible but one step at a time. Building human technology that works for human.
				</p>

				<p>
					Fostering relationship that are and unties all of us from the deep complex social fabric that eats up our internal mind space.
				</p>

        <p>
          We are the space that promotes  freedom from within, understanding that comes on direct experience, and work that charters human course, our products reflect that.
        </p>

        <p>
          Carbon neutrality, Data privacy , Financial soverigneity and Health, is our prioroity. Lets come together and build one step at a time.
        </p>
			</div>
		</div>
	</div>
</section>

<section class="image-edge">
  <div class="col-md-6 col-sm-4 p0">
      <img alt="Screenshot" class="mb-xs-24" src="assets/img/intro1.jpg">
  </div>
  <div class="container">
      <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
          <h1 class="large mb40 mb-xs-16">Small changes</h1>
          <h6 class="uppercase mb16">One person at a time.</h6>
          <p class="lead mb40">
              Muellners Foundation strives to achieve equality driven goals and fundamental essence of human life. We aim to improve fundamental life on any grounds to create a model, embracing all sections of society.
              We promote sustainable social entrepreneurs and enterprises.
          </p>
          <a class="btn-lg btn" href="https://www.finscale.org/">Our work</a>
      </div>
  </div>
</section>

<section class="image-edge">
    <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
        <img alt="Screenshot" class="mb-xs-24" src="assets/img/intro1.jpg">
    </div>
    <div class="container">
        <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
            <h1 class="large mb40 mb-xs-16">Bigger Impacts.</h1>
            <h6 class="uppercase mb16">Passing the spirit</h6>
            <p class="lead mb40">
                Reflecting the same in our work, #SocialCapital, we promote building that involves communites, the communities can have different individuals that collectively create social Capital, that's openly accesible by everyone.
            </p>
            <a class="btn-lg btn" href="https://www.muellners.com/">Explore Foundry</a>
        </div>
    </div>
</section>
