---
layout: page
---
<section class="page-title page-title-2 image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="../assets/img/e2edeploy.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="uppercase mb8">Our Contributors</h2><br>
                <p class="lead mb0">
 		Our volunteers are working day and night on this COVID-19 relief through social, financial and technical means.
    </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-secondary">
<div class="container">
		<h4>Board Members</h4>
		<div class="row">
			<div class="col-sm-3">
			  <div class="feature boxed">
			      <div class="text-center">
				<img class="background-image" src="../assets/img/lara-muellner.jpeg">
				<a href="https://www.linkedin.com/in/lara-m%C3%BCllner-bab0a0194/"><p>Lara Muellner</p></a>
		      </div>
        </div>
      </div>
		<div class="col-sm-3">
      <div class="feature feature-1 boxed">
	      <div class="text-center">
					<img class="background-image" src="../assets/img/saransh-sharma.jpeg">
		      <a href="https://www.linkedin.com/in/saransh-sharma-5091a0182/">
						<p>Saransh Sharma</p>
			     </a>
	          </div>
	      </div>
	  </div>
		<div class="col-sm-3">
        <div class="feature feature-1 boxed">
            <div class="text-center">
							<img class="background-image" src="../assets/img/rukesh-patel.jpeg">
              <a href="https://www.linkedin.com/in/patelrukesh/">
								<p>Rukesh Patel</p>
							</a>
              </div>
          </div>
        </div>
			<div class="col-sm-3">
          <div class="feature feature-1 boxed">
              <div class="text-center">
								<img class="background-image" src="../assets/img/lira-priyadarsani.jpeg">
								<a href="https://www.linkedin.com/in/lirapriyadarsani/">
								                  <p>Lira Priyadarsani</p>
								</a>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
      <div class="col-sm-3">
          <div class="feature boxed">
              <div class="text-center">
								<img class="background-image" src="../assets/img/dinesh-singh.jpg">
								<a href="https://www.linkedin.com/in/dinsin/">
									<p>Dinesh Singh</p>
								</a>
                </div>
            </div>
        </div>
		<div class="col-sm-3">
        <div class="feature feature-1 boxed">
            <div class="text-center">
							<img class="background-image" src="../assets/img/prasanna-lohar.jpeg">
							<a href="https://www.linkedin.com/in/prasannalohar/">
              	<p>Prasanna Lohar</p>
							</a>
            </div>
        </div>
    </div>
	</div>
	<h4>Building Blocks</h4>
	<div class="row">
		<div class="col-sm-3">
				<div class="feature boxed">
						<div class="text-center">
							<img class="background-image" src="../assets/img/audrey-ndum.jpg">
							<a href="https://www.linkedin.com/in/audrey-ndum-81563a15a/">
								<p>Audrey Ndum</p>
							</a>
						</div>
				</div>
		</div>
		<div class="col-sm-3">
				<div class="feature feature-1 boxed">
						<div class="text-center">
							<img class="background-image" src="../assets/img/anurag-garg.jpeg">
							<a href="https://www.linkedin.com/in/anurag-garg-3b1188124/">
								<p>
									Anurag Garg
								</p>
							</a>
						</div>
				</div>
		</div><div class="col-sm-3">
				<div class="feature feature-1 boxed">
						<div class="text-center">
							<img class="background-image" src="../assets/img/devendra-yadav.jpeg">
							<a href="https://www.linkedin.com/in/devendr-yadav/">
								<p>
									Devendra Yadav
								</p>
							</a>
						</div>
				</div>
		</div>
	</div>
	<h4>Learn Fellowship Network</h4>
	<div class="row">
			<div class="col-sm-3">
					<div class="feature boxed">
							<div class="text-center">
								<img class="background-image" src="../assets/img/atharva-dhekne.jpg">
								<a href="https://www.linkedin.com/in/atharvadhekne/">
									<p>Atharva Dhekne</p>
								</a>
							</div>
					</div>
			</div>
			<div class="col-sm-3">
					<div class="feature feature-1 boxed">
							<div class="text-center">
								<img class="background-image" src="../assets/img/advait-madhekar.png">
								<a href="https://www.linkedin.com/in/advait-madhekar-b2b30abb/">
									<p>
										Advait Madhekar
									</p>
								</a>
							</div>
					</div>
			</div>
			<div class="col-sm-3">
					<div class="feature feature-1 boxed">
							<div class="text-center">
								<img class="background-image" src="../assets/img/kshitij-chitnis.jpeg">
								<a href="https://www.linkedin.com/in/kshitijchitnis/">
									<p>
										Kshitij Chitnis
									</p>
								</a>
							</div>
					</div>
			</div>
			<div class="col-sm-3">
					<div class="feature feature-1 boxed">
							<div class="text-center">
								<img class="background-image" src="../assets/img/mahesh-nahak.jpeg">
								<a href="https://www.linkedin.com/in/maheshnahak/">
									<p>
										Mahesh Nahak
									</p>
								</a>
							</div>
					</div>
			</div>
	</div>
	<div class="row">
			<div class="col-sm-3">
					<div class="feature boxed">
							<div class="text-center">
								<img class="background-image" src="../assets/img/yatish_grey.png">
								<a href="https://www.linkedin.com/in/yatish-kelkar-850507190/">
									<p>Yatish Kelkar</p>
								</a>
							</div>
					</div>
			</div>
			<!-- <div class="col-sm-3">
					<div class="feature feature-1 boxed">
							<div class="text-center">
								<img class="background-image" src="../assets/img/">
								<a href="https://www.linkedin.com/in/gaurav-khairnar/">
									<p>
										Gaurav Khairnar
									</p>
								</a>
							</div>
					</div>
			</div> -->
	</div>
</div>
</section>

<section class="page-title page-title-1 image-bg overlay parallax">
<div class="background-image-holder">
    <img alt="Background Image" class="background-image" src="img/cover14.jpg">
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="uppercase mb0"><a href="https://bitrupee.net/"> join us </a></h2>
        </div>
    </div>
</div>
</section>
